* {
  margin: 0;
  padding: 0;
  background-color: rgb(22, 22, 22);
  color: rgb(218, 164, 0);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  min-width: 100%;
}
.app {
  width: 25rem;
  line-height: 2.5rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app > .outer-img > img {
  width: 10rem;
  height: 10rem;
  object-fit: none;
  margin-bottom: 2rem;
  border-radius: 50%;
  /* We call the spinnerOne keyframe and make it do a full animation in 1.5s in same speed (linear) and repeat */
  animation: spinnerOne 8s linear infinite;
  position: relative;
  bottom: unset;
  right: unset;
}

.app .outer-img {
  display: block;
}

.app div {
  display: flex;
  justify-content: center;
  position: relative;
}

.app div span {
  text-align: center;
}

.app > div img {
  width: 2rem;
  height: 2rem;
  position: absolute;
  bottom: 0.25rem;
  right: 2.5rem;
}

@keyframes spinnerOne {
  0% {
    transform: rotate(0deg);
  }
  /* Halfway through the spin, animate to a thinner border */
  20% {
    transform: rotate(60deg);
  }
  40% {
    transform: rotate(90deg);
  }
  60% {
    transform: rotate(130deg);
  }
  80% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bounce-out-down {
  animation: bounce-out-down 2s ease infinite;
}
@keyframes bounce-out-down {
  0% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(-30px);
  }
}
